Code
bashtop
dconf
enchant
evolution/sources
gedit
github-copilot
gnome-control-center/backgrounds
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
htop
hypr-dots
ibus/bus
inkscape
lazygit
libreoffice/4/user
nautilus
neofetch
nitrogen
nvim
papirus-folders
pulse
systemd/user
yelp
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
assets
mimeapps.list
monitors.xml
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
