Code
bashtop
dconf
enchant
evolution/sources
gedit
github-copilot
gnome-control-center/backgrounds
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
htop
hypr-dots
ibus/bus
inkscape
lazygit
libreoffice/4/user
nautilus
neofetch
nitrogen
papirus-folders
pulse
systemd/user
yelp
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
assets
mimeapps.list
monitors.xml
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
Code - OSS
fish
glib-2.0/settings
libreoffice/4/cache
cef_user_data/WidevineCdm
kdedefaults
libaccounts-glib
session
xsettingsd
Trolltech.conf
akregatorrc
baloofilerc
bluedevilglobalrc
breezerc
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
systemsettingsrc
Kitware
bspwm
chromium/Crash Reports
fontforge
jgit
spotify
sxhkd
dolphinrc
QtProject.conf
emaildefaults
kmixrc
kwalletrc
plasmanotifyrc
plasmaparc
plasmawindowed-appletsrc
plasmawindowedrc
sddmthemeinstallerrc
soffice.binrc
trashrc
xdg-desktop-portal-kderc
Android Open Source Project
Arduino IDE
Blackmagic Design
BraveSoftware/Brave-Browser
Electron
GIMP/2.10
KDE
Raspberry Pi
arduino-ide
audacity
autostart
chromium
d-feet
discord
flutter
go/telemetry/local
google-chrome
japokwm
kazam
kde.org
libreoffice/4
obs-studio
obsidian
protonvpn
skypeforlinux
styluslabs
sway
totem
whatsapp-for-linux
discoverrc
dleyna-renderer-service.conf
drkonqirc
kdenlive-layoutsrc
kdenliverc
kritadisplayrc
kritarc
monitors.xml~
touchpadxlibinputrc
systemmonitorrc
zoom.conf
zoomus.conf
emacs
Google/AndroidStudio2023.2
VSCodium
Google/AndroidStudio2023.3
Insomnia
Pinta
Postman
atac
ghc
kactivitymanagerd-statsrc
kwinoutputconfig.json
